/* * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

form{
    min-height: 40vh;
    width: 600px;
    background-image: url(../background-image.jpg);
    background-size: cover;
    background-position:right;
    overflow: hidden;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
label{
    fill: chartreuse !important;
    color: chartreuse;
    flex-shrink: 0;
    width: 400px;
    height: 40px;
    background-color: crimson;
}

.incorrect label{
/* border-color: rgba(169, 8, 8, 0.751); */
